body{
  font-family: Helvetica;

  text-align: center;
}

#headline{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
  font-size: 18px;
  }
  a {
    color: white;
  }
#headline h1{

  font-size: 70px;
}

#our-process h1 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}
span {
  font-size: 11px;
}

#bottom{
  
  background-color: dimgray;
  color: white;
  text-align: left;

}
p {
  font-size: 14px;
}
#designed {
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
